@import  "./../../scss/mixins/flexbox";
@import  "./../../scss/variables/colors";

.root {
  @include flexbox();
  @include flex-dir(column);
  min-height: 100vh;
}
 
.main{
  background: url('./../../img/bg-night-king.jpg') no-repeat center center fixed;
  background-size: cover;
  flex: 1;
}